:root {
  --pink-lace: #ffd6ffff;
  --mauve: #e7c6ffff;
  --maximum-blue-purple: #c8b6ffff;
  --lavender-blue: #b8c0ffff;
  --lavender-blue-2: #bbd0ffff;
  --midnight-blue: #03045eff;
  --celeste: #c0fdffff;
  --red-munsell: #f21b3fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    var(--pink-lace),
    var(--lavender-blue-2)
  );
  color: var(--maximum-blue-purple);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: var(--maximum-blue-purple);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: #000000;
  font-size: 1rem;
}

#new-task-input::placeholder {
  color: #000000;
}

#new-task-submit {
  color: black;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit::hover {
  opacity: 0.8;
}

#new-task-submit::active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--celeste);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#tasks .task .content {
  flex: 1 1 0%;
}

#tasks .task .content .text {
  color: #000000;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
  color: var(--maximum-blue-purple);
}

#tasks .task.actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.task .actions .edit {
  color: var(--midnight-blue);
}

.task .actions .delete {
  color: var(--red-munsell);
}
